*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary: #124CE1;
    --button: #008B69;
    --textlight: #F0E7E7;
    --textdark: #14141F;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 30px;
    background: var(--primary);
}

.information{
    color: var(--textlight);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information .location{
    display: inline-flex;
    gap: 10px;
    margin-bottom: 10px;
}
