*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --primary: #124CE1;
    --button: #008B69;
    --textlight: #F0E7E7;
    --textdark: #14141F;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Styling container row  footer */
.footer-row{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding-inline: 100px;
    padding-block: 30px;
    background: var(--primary);
}
/* End Styling container footer */

/* Styling information footer*/ 
.information{
    color: var(--textlight);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.information .location{
    display: inline-flex;
    gap: 10px;
    margin-bottom: 30px;
}

.sosmed a {
    display: inline-block;
    margin-right: 10px;
    margin-block: 10px ;
    margin-block: 5px;
    background: var(--button); 
    padding: 10px; 
    border-radius: 10px; 
    transition: background 0.5s;
}
.sosmed a i {
    color: white;
}
 .sosmed a:hover {
    background: var(--textdark);
}
/* End Styling information footer*/
/*  styling section information and service */
.footer-col h3{
    color: var(--textlight);
    margin-bottom: 10px;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li a{
    color: var(--textlight);
}
/*  styling section information and service */

/*  styling section Feedback and Suggestions*/
.Feedback{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
}
.Feedback-input{
    max-height: 100%; 
    outline: none;
    height: 4rem;
    max-width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    resize: none;
    overflow: hidden;
}
#Feedback-send{
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    transition: background 0.5s, color 0.5s;
    width: 100%;
}
#Feedback-send:hover{
    background: var(--button);
    color: var(--textlight);
}
/*  End styling section Feedback and Suggestions*/


@media screen and (max-width: 375px){
    .footer-row{
        padding-inline: 30px;
    }
    .Suggestions{
        width: 100%;
    }
    .Suggestions h3{
        text-align: center;
    }
}
/* end responsive setting */

