* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #124CE1;
    --button: #008B69;
    --textlight: #F0E7E7;
    --textdark: #14141F;

    --font-weight-heading: 700;
    --font-weight-body: 500;

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.875rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;

    --font-size-body1: 1.25rem;
    --font-size-body2: 1rem;
    --font-size-body3: 0.875rem;
    --font-size-body4: 0.75rem;

}

@media screen and (max-width: 1024px) {
    header{
        padding-inline: 70px;
    }
    
}
/* @media screen and (max-width:768px) {
    header{
        padding-inline: 50px;
    }
    .View-work a{
        display: none;
    }
    .hamburger {
        display: flex;
        text-align: center;
        justify-content: right;
        align-items: center;
        cursor: pointer;
    }
    .navigation{
        /* position: absolute;
        top:60px;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background: var(--textdark);
        transition: background .2s ease;
        overflow: hidden; */
    }
    .navigation.active {
        height: 200px; 
    }
    .navigation ul{
        display: block;
        margin: 30px auto 0 auto;
        width: fit-content;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }
    .navigation.active ul{
        opacity: 1;
    }
    .navigation ul li {
        margin-bottom: 20px;
    }

    
} */